<div class="col-12 col-md-8 col-lg-5">
	<h1 class="h1-strong"> {{ title }} </h1>
	<div class="alert alert-success" *ngIf="status===true">
		Registro completado correctamente <a [routerLink]="['/login']">Identificate aquí</a>
	</div>
	<div class="alert alert-danger" *ngIf="status===false">
		El registro no se ha completado, intentalo de nuevo
	</div>
	<form #registerForm="ngForm" (ngSubmit)="sendForm(registerForm)" class="col-12 col-sm-6 col-md-8 col-lg-12">
		<div class="form-group">
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required placeholder="Ernesto" class="form-control"/>
			<span *ngIf="!name.valid && name.touched">El nombre es mandatorios!</span>
		</div>
		<div class="form-group">
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required placeholder="Jara Olveda" class="form-control"/>
			<span *ngIf="!surname.valid && surname.touched">Los apellidos son mandatorios!</span>
		</div>
		<div class="form-group">
			<label for="nick">Nick</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required placeholder="Pimp" class="form-control"/>
			<span *ngIf="!nick.valid && nick.touched">El nick es mandatorio!</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required placeholder="trol123" class="form-control"/>
			<span *ngIf="!password.valid && password.touched">La contraseña es Mandatoria!!</span>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required placeholder="correo@correo.com" class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" />
			<span *ngIf="!email.valid && email.touched">El correo es mandatorio!!</span>
		</div>
		<input type="submit" value="{{ title }}" class="btn btn-success" [disabled]="!registerForm.valid" />
	</form>
</div>
